DATABASE_URL=postgresql+asyncpg://calcUser:calcPwd@db:5432/foo
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672


ALEMBIC_DATABASE_URL=postgresql+psycopg://calcUser:calcPwd@db:5432/foo

POSTGRES_DB=foo
# имя пользователя
POSTGRES_USER=calcUser
# пароль
POSTGRES_PASSWORD=calcPwd

RABBITMQ_USER=guest
RABBITMQ_PASS=guest